.go {
  font-weight: 600;
  color: var(--blue);
}
.forgot-password,
.revtax {
  align-self: stretch;
  position: relative;
}
.revtax {
  height: 3.813rem;
  display: none;
}
.forgot-password {
  margin: 0;
  font-size: inherit;
  line-height: 3.25rem;
  font-weight: 400;
  font-family: inherit;
  color: var(--blue);
}
.enter-your-email,
.send-mail {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 1.5rem;
}
.enter-your-email {
  align-self: stretch;
  font-size: var(--material-theme-label-medium-16-size);
  color: var(--text-off);
}
.send-mail {
  width: 5.875rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.button,
.instance-parent {
  align-self: stretch;
  display: flex;
}
.button {
  border-radius: var(--br-8xs);
  background-color: var(--bluepalette-800);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl);
  cursor: pointer;
}
.instance-parent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--material-theme-label-medium-16-size);
  color: var(--white);
}
.forget-password,
.password-01 {
  background-color: var(--white);
  display: flex;
  box-sizing: border-box;
}
.password-01 {
  width: 41.063rem;
  border-radius: var(--br-3xs);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-41xl);
  gap: var(--gap-13xl);
  max-width: 100%;
}
.forget-password {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 7.875rem var(--padding-xl) 13.625rem;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--material-theme-display-medium-size);
  color: #d41d24;
  font-family: var(--material-theme-label-medium-16);
}
@media screen and (max-width: 750px) {
  .forgot-password,
  .revtax {
    font-size: var(--font-size-17xl);
  }
  .forgot-password {
    line-height: 2.625rem;
  }
}
@media screen and (max-width: 675px) {
  .password-01 {
    gap: 1rem 2rem;
    padding: var(--padding-33xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password,
  .revtax {
    font-size: var(--font-size-8xl);
  }
  .forgot-password {
    line-height: 1.938rem;
  }
}
