input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Set a white background */
    background-color: white !important; /* Set a white background */
    background-clip: content-box !important; /* Ensure the background covers only the content */
}